
<a href="/alertas/">Aggressions</a>

<a href="/alertas/stats">Stats</a>

<br />

{% if latest_aggression_list %}
    <ul>
    {% for aggression in latest_aggression_list %}
        <li><a href="/alertas/aggressions/{{ aggression.id }}/">[link]</a> [{{aggression.time}}] [{{aggression.place}}] {{ aggression.aggression_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggressions are available.</p>
{% endif %}

Misoginia

{% if misoginia_aggression_list %}
    <ul>
    {% for aggression in misoginia_aggression_list %}
        <li>{{ aggression.aggression_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggressions are available.</p>
{% endif %}

Homofobia

{% if homofobia_aggression_list %}
    <ul>
    {% for aggression in homofobia_aggression_list %}
        <li>{{ aggression.aggression_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggressions are available.</p>
{% endif %}

