Aggressions

{% if latest_aggression_list %}
    <ul>
    {% for aggression in latest_aggression_list %}
        <li><a href="/aggressions/{{ aggression.id }}/">[link]</a> [{{aggression.time}}] [{{aggression.place}}] {{ aggression.aggression_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggressions are available.</p>
{% endif %}

Tags

{% load taggit_templatetags2_tags %}

{% get_taglist as tags for 'alertas.aggression' %}

<ul>
    {% for tag in tags %}
    <li>{{tag}} ({{tag.num_times}})</li>
    {% endfor %}
</ul>

Misoginia

{% if misoginia_aggression_list %}
    <ul>
    {% for aggression in misoginia_aggression_list %}
        <li><a href="/aggressions/{{ aggression.id }}/">[link]</a> [{{aggression.time}}] [{{aggression.place}}] {{ aggression.aggression_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No aggressions are available.</p>
{% endif %}
